.form {
    .form-group {
        margin: 5px 0;
    }

    .form-group button{
        margin-right: 10px;
        padding: 4px 20px;
    }
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #dbdbdb;
    opacity: 1; /* Firefox */
}